article h3, #rightSidebar h3{
    margin-left: 20px;
    color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}
article form{
	padding: 10px;
    width: 450px;
}
article form label {
    float: left;
    width: 8em;
    text-align: right;}
article form input {
    margin-left: 1em;
    margin-bottom: .5em;
    width: 260px;
}
article form  #button {
    margin-left: 10em;
}
/*button*/
article form #button,article form #reset{
	width: 90px;
    padding: 5px;
    border: 1px solid #35405e ;
    background-color: #c9ddb1;
	font-size: 12px;
    vertical-align: center;
	margin-top: 12px;
} 
form fieldset legend{
    font-weight: bold;
    color: #573C83;
    font-size: 14px;
    
}
form input[type="checkbox"], form input[type="radio"] {
    margin-right: .4em;
}
article form fieldset{
	padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
form fieldset select{
    margin-bottom: 20px;
    
}
fieldset{
    border: 1px solid  rgb(179, 121, 177);
}
article form input:focus{
	border: 3px solid #489bbf ;
}
article form textarea{
	width: 100%;
}

/*sidebar*/
#rightSidebar form{
    padding-top: 10px;
    
}
#rightSidebar form fieldset{
     margin-bottom: 10px;
     padding-top: 15px;
     margin-right: 10px;
}




