article p{
    margin-bottom: .4em;
}
.imagesBlog ul li p{
    height: 150px;
    width: 115px;
    padding: 3px;
    border: 2px solid #7453BB;
    border-radius: 7px;
    /* display: inline-block; */
}
.imagesBlog ul li{
    list-style-type: none;
    display: inline-table;
    padding: 7px;
}
article div ul figcaption{
    margin-bottom: 25px;
    text-align: center;
}
article h3{
    padding-left: 45px;
    color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}
#rightSidebar h3{
    color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}
article div ul li p:hover{
    border: 2px solid #E4926E;
}
/*images */
#imageOne {
    background-image: url("../images/flower1.jpg");
    background-size: cover;
}
#imageOne:hover {
    background-image: url("../images/flower2.jpg");
    background-size: cover;
    
}
#imageTwo {
    background-image: url("../images/flower3.jpg");
    background-size: cover;
}
#imageTwo:hover {
    background-image: url("../images/flower4.jpg");
    background-size: cover;
    
}
#imageThree {
    background-image: url("../images/flower5.jpg");
    background-size: cover;
}
#imageThree:hover {
    background-image: url("../images/flower6.jpg");
    background-size: cover;
    
}
#imageFour {
    background-image: url("../images/flower7.jpg");
    background-size: cover;
}
#imageFour:hover {
    background-image: url("../images/flower8.jpg");
    background-size: cover;
    
}
#imageFive {
    background-image: url("../images/flower9.jpg");
    background-size: cover;
}
#imageFive:hover {
    background-image: url("../images/flower10.jpg");
    background-size: cover;
    
}
#imageSix {
    background-image: url("../images/flower11.jpg");
    background-size: cover;
}
#imageSix:hover {
    background-image: url("../images/flower12.jpg");
    background-size: cover;
    
}
