 html {
	background-image: url("../images/background.jpg");	
	background-size: cover;
} 
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	width: 900px;
	background-color: white;
	margin: 0 auto; 
	padding: 0;
	box-shadow: .5em .5em 3em #BCC0D9;
}
h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

/* Header */
header { 
    background-image: url("../images/banner.jpg") ;
	background-repeat: repeat;
	min-height: 120px;
	padding-top: 10px;
} 
header #headerTitle{
	background-color: white;
	width: 500px;
}
header img { 
	float: left; 
	padding-right: 15px; 
	height: 80px;
	width: 80px; 
	padding: 20px 20px 0px 20px;

} 
header h1 {
	font-size: 250%;
	padding-top: .5em;
	color:#75b69a;
	font-family: 'Satisfy', cursive;
	text-shadow: 1px 1px 4px #BCC0D9;
}
header h4{
	font-style: italic;
	font-weight: normal;
	padding-bottom: 10px;;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* Navigation menu */
#main_menu {
	clear: left;
	font-family: 'Satisfy', cursive;
	font-size: 18px;
	text-shadow: 1px 1px 6px black;
}
#main_menu ul {
	list-style: none;
	position: relative;
	
}
#main_menu ul li {
	float: left;
}
#main_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#main_menu ul ul li {
	float: none;
	position: relative;
}
#main_menu ul ul li ul {
    position: absolute;
    left: 100%;
	top: 0; 
}

#main_menu ul li:hover > ul {
	display: block;
}
#main_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#main_menu ul {
	margin: 0;
	padding: 0;
}
#main_menu ul li a {
	text-align: center;
	display: block;
	width: 225px;
	padding: .5em 0;
	text-decoration: none;
	background-color:#B0C1D5;
	color: white
}
#main_menu ul li a.current {
	color: yellow;
}
#main_menu ul li a:hover, #main_menu ul li a:focus {
	color: yellow;
	background-color:#573C83;
}

/* Sidebar */
aside {
	float: left; 
	width: 135px;
	 padding-top: 20px;
	 padding-right: 20px;
	text-align: center;
}

main aside #leftSidebar ul{
    list-style-type: none;
	
}
main aside #leftSidebar ul li{
    margin: 0 0 20px 0;
}
main aside #leftSidebar ul li img{
    height: 80px;
	width: 80px;
	border: 2px solid  rgb(179, 121, 177);
	border-radius: 7px;
}
main aside #leftSidebar ul li img:hover{

	box-shadow: 2px 2px 4px #7278aa;
}


main aside #leftSidebar ul li a,main aside #leftSidebar ul li a:visited{
    color: black;
}
main  aside #leftSidebar ul li a:hover, main  aside #leftSidebar ul li a:focus {
    color: green;
}
main aside #leftSidebar ul li figcaption{
	font-size: 12px;
	text-align: center;
}
main #leftSidebar figure{
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*Right side bar*/
#rightSidebar h3{
	padding-left: 20px;
	color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}
#rightSidebar{
	float: right;
	width: 210px;
	padding: 5px; 
	padding-top: 30px;
}
#rightSidebar h3{
	padding:0;
}

#rightSidebar ul{
	padding-left: 0;
}
#rightSidebar ul li{
	list-style-type: none;
	padding-top: 15px;
	padding-left: 0px;
}
#rightSidebar a, #rightSidebar a:visited{
	text-decoration: none;
	color: #EF8C62;
}
 
#rightSidebar a:focus,#rightSidebar a:hover { 
	color: black;
	text-shadow:1px 1px 3px #573C83;
}
/* article */
article {
	width: 480px;
	float: left;
	padding-top: 30px;
	padding-left: 20px ;

}
article h2 { 
	margin-bottom: .5em;
	color:#EF8C62;
    font-family: Georgia, serif;
}
article h3 { 
	color:#7278aa;
	font-family: Georgia, serif;
	font-style: oblique;
}
article h4{
	color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}

article p {
	margin-bottom: 3em;
	text-align: justify;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
article ul li{
	list-style-type: square;
}
/* Footer */
footer { 
	clear: both;
	padding: 15px;
	font-family: Satisfy, cursive;
	background-color: #F1C1C0;
} 
footer p {
	font-size: 90%;
	text-align: center;
}