article div{
    padding: 10px;
}
article h3{
    padding-left: 30px;
    color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}
#rightSidebar h3{
    color: rgb(157, 18, 18);
    font-family: Georgia, serif;
}

